  <% if message.body %>
  <% user = User.find(message.user_id) %>
  <div <% if user.id == @current_user_id %>style="text-align: right;"<% end %> >
    <%#= user.name %>
    <%#= message.created_at.strftime("%H:%M") %><%#= message.message_time %>
    <%= distance_of_time_in_words(Time.now, message.created_at)%> ago:
    <%= message.body %> <br>
  </div>
<% end %>
