<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>your contact will end at <%= @hire.end_contract %></h1>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks, have a great day!</p>
  </body>
</html>