<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have hiring request from <%= @hire.hire_by.name %></h1>
    <p>
      Kindly Check your profile.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks, have a great day!</p>
  </body>
</html>