<div class='pt-3'>
  <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
    <% if conversation.sender_id == current_user.id %>
      <% recipient = User.find(conversation.recipient_id) %>
    <% else %>
      <% recipient = User.find(conversation.sender_id) %>
    <% end %>

















      

      <aside class="col-lg-5">
        <div class="card card-body border-0 shadow-sm pb-1 me-lg-1" style="margin-bottom: 1rem;">
          <div class="d-flex d-md-block d-lg-flex align-items-start">
          <%= image_tag avatar_path(recipient, size: 40), width: 48, class: "rounded-circle" %>
            <div class="pt-md-2 pt-lg-0 ps-3 ps-md-0 ps-lg-3">
              <h2 class="fs-lg mb-0"><%= link_to recipient.name, conversation %></h2>
            </div>
          </div>
        </div>
      </aside>



      
  <% end %>
</div>
