<div class='row main-chat-page' >
  <div class='col contact-list'>
    <h2> all conversations  </h2>
    <div id=''>
      <%= render @conversations unless nil? %>
    </div>
  </div>
  <div class='col pt-3 contact-messages'>
    <%= turbo_stream_from @conversation %>
    <div id='messages'>
      <%= render @messages unless @messages.nil? %>
    </div>
    <%= render partial: 'shared/newMessage' %>
  </div>
</div>
