<!-- Footer-->
<footer class="footer bg-dark pt-5">
  <div class="container pb-2">
    <div class="row align-items-center pb-4">
      <div class="col-md-6 col-xl-5">
        <!-- Links-->
        <div class="row">
          <div class="col-sm-4 mb-4">
            <h3 class="h6 mb-2 pb-1 fs-base text-light">MsZora Tutor</h3>
            <ul class="list-unstyled fs-sm">
              <li><a class="nav-link-light" href="#">About</a></li>
              <li><a class="nav-link-light" href="#">News</a></li>
              <li><a class="nav-link-light" href="#">Contacts</a></li>
            </ul>
          </div>
          <div class="col-sm-4 mb-4">
            <h3 class="h6 mb-2 pb-1 fs-base text-light">For Learners & Parents</h3>
            <ul class="list-unstyled fs-sm">
              <li><a class="nav-link-light" href="#">Find job</a></li>
              <li><a class="nav-link-light" href="#">Post a resume</a></li>
              <li><a class="nav-link-light" href="#">Vacancy mailing</a></li>
            </ul>
          </div>
          <div class="col-sm-4 mb-4">
            <h3 class="h6 mb-2 pb-1 fs-base text-light">For Tutors</h3>
            <ul class="list-unstyled fs-sm">
              <li><a class="nav-link-light" href="#">Find resume</a></li>
              <li><a class="nav-link-light" href="#">Post a job</a></li>
              <li><a class="nav-link-light" href="#">Resume mailing</a></li>
            </ul>
          </div>
        </div>
        <!-- Socials-->
        <div class="text-nowrap border-top border-light py-4"><a class="btn btn-icon btn-translucent-light btn-xs rounded-circle me-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-translucent-light btn-xs rounded-circle me-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-translucent-light btn-xs rounded-circle me-2" href="#"><i class="fi-messenger"></i></a><a class="btn btn-icon btn-translucent-light btn-xs rounded-circle me-2" href="#"><i class="fi-telegram"></i></a><a class="btn btn-icon btn-translucent-light btn-xs rounded-circle" href="#"><i class="fi-whatsapp"></i></a></div>
      </div>
      <!-- Mobile app-->
      <div class="col-md-6 offset-xl-1">
        <div class="d-flex align-items-center">
          <div class="card card-light card-body p-4 p-xl-5 my-2 my-md-0" style="max-width: 526px;">
            <div style="max-width: 380px;">
              <h3 class="h4 text-light"><a class="no-underline" style="color:white" href="https://mszora.co.za">MsZora</a></h3>
              <p class="fs-sm text-light opacity-70 mb-2 mb-lg-3">Go to the <a class="no-underline" style="color:white" href="https://mszora.co.za">MsZora</a> website to further your academic learning experience!</p>
            </div>
          </div><div><img class="d-none d-xl-block ms-n4" src="frontend/img/job-board/footer-mobile.svg" width="116" alt="Mobile app">
        </div>
      </div>
    </div>
    <!-- Copyright-->
    <p class="fs-sm text-center text-sm-start mb-4"><span class="text-light opacity-50">&copy; All rights reserved.</span></p>
  </div>
</footer>
<!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon fi-chevron-up">   </i></a>





<!-- Vendor scrits: js libraries and plugins-->
<script src="frontend/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="frontend/vendor/simplebar/dist/simplebar.min.js"></script>
<script src="frontend/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="frontend/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="frontend/vendor/parallax-js/dist/parallax.min.js"></script>
<!-- Main theme script-->
<script src="frontend/js/theme.min.js"></script>

