<!-- Page container-->
    <div class="container mt-5 mb-md-4 py-5">

      <h1 class="h2 mb-4">About MsZora Tutor</h1>
      
      <!-- Post content-->
      <div class="mb-4 pb-md-3"><img class="center" src="frontend/img/logo/tutor.png" alt="Post image" width="600" height="600">
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-1 mb-md-0 mb-4 mt-md-n5">
          
        </div>
        <div class="col-lg-8 col-md-10">

          <!-- Post content-->
          <h6>Ms Zora is a responsive, AI-based learning platform for STEM subjects designed with the primary goal of
            equalising access to quality education for all students regardless of their location, proficiency level and
            socio-economic circumstances</h6>
          <p>MsZora provides students with a personalised tutor inside and outside of the classroom, tailoring the
            process of learning to suit the requirements of every individual learner. It recognises learning challenges
            of each student and takes them by the hand as they complete their curriculum.</p>
          <p>MsZora is the ideal teaching assistant in the classroom. It provides relevant and curriculum-focused
            information that complements teacher intervention and allows them to focus on their students’ specific
            learning needs.</p>
          <blockquote class="blockquote">
            <p>We want to inspire the next generation of Africa’s innovators and entrepreneurs</p>
            <footer class="fs-base">— Lindiwe Matlali</footer>
          </blockquote>
          <section class="container pb-5 mb-md-3 mt-n2 mt-lg-0">
            <div class="row g-2 g-xl-4">
              <div class="col-lg-4 col-sm-6">
                <div class="card card-body card-hover border-0 h-100">
                  <div class="fs-2 fw-bold text-primary lh-base mb-2">01</div>
                  <h3 class="h5 center">About 01</h3>
                  <p class="fs-sm mb-0">More information</p>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="card card-body card-hover border-0 h-100">
                  <div class="fs-2 fw-bold text-primary lh-base mb-2">02</div>
                  <h3 class="h5 center">About 02</h3>
                  <p class="fs-sm mb-0">More Information</p>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="card card-body card-hover border-0 h-100">
                  <div class="fs-2 fw-bold text-primary lh-base mb-2">03</div>
                  <h3 class="h5 center">About 03</h3>
                  <p class="fs-sm mb-0">More Information</p>
                </div>
              </div>
            </div>
          </section>
        </div>