<% if current_user.is_teacher? %>

  <%= render 'hires/list', hires: current_user.teacher_hires %>

<div id="meeting_model">
<% elsif current_user.is_student? %>
    <h1>Wrong Page</h1>
    <%=link_to "Student Home Page", student_path%>

    <br>
<% end %>
